{% extends 'main/base.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>

    <h2>Tracks list:</h2>
    <ul>
        {% for track in tracks %}
        <li>{{ track.singer }}, {{ track.song }}, {{ track.year }}</li>
        {% endfor %}
    </ul>

{% endblock  %}